* {
    box-sizing: border-box
}

body {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid blue;
}

.container {
    flex-grow: 1;
    display: flex;
    width: 95%;
    border: 10px solid red;
    margin: 30px;
    flex-direction: column;
}

.grid {
    display: flex;
    flex: 1 1 auto;
    border: 5px solid green;
}

.box {
    flex: 1;
    border: 5px solid orange;
}